#link {
    /*display: grid;
    column-gap: 2rem;*/
    background-color: black;
    color: white;
    padding: 0 1.5rem 40px;
}
#link div{
    padding-top: 20px;
}
.aside_logo {
    display: flex;
    flex-flow: row;
    padding: 50px 0;
    border-top: 1px solid rgb(28, 219, 188);
}

/*.aside_logo .logo{
    position: relative;
    display: block;
    left: -2px;
    min-width: 93px;
    width: 11.5rem;
    height: 36px;
    background-image: url("../img/assets/asset 23.png");
    background-size: 100%;
}
.aside_logo .in{
    position: relative;
    display: block;
    width: 36px;
    height: 36px;
    background-image: url("../img/assets/asset 21.svg");
    background-size: 100%;
    filter: invert(81%) sepia(69%) saturate(220%) hue-rotate(98deg) brightness(87%) contrast(92%);
}*/

.top_navigation a, .internet_link a, .social a, .ressources a{
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
    margin: 0 0 12px;
}

.internet_link li:first-child{
    margin-top: 20px;
}
.hepl_logo {
    display: grid;
    flex-direction: column;
    padding-bottom: 40px;
}

.hepl_logo img {
    width: 275px;
    cursor: pointer;
    background-size: contain;
    margin-bottom: 40px;
    margin-top: 40px;
}

.hepl_logo p {
    margin-bottom: 12px;
    font-size: 20px;
}

footer {
    background-color: #063636;
    padding: 19px 1.5rem 21px;
    display: flex;
}
footer li{
 padding: 0 30px 12px 0;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 1.875rem 12px 0;
    font-size: 1.125rem;
    line-height: 1.25rem;
}
