html {
    width: 100%;
}

body {
    font-family: Inter, sans-serif;
}

abbr {
    text-decoration: none;
}

header {
    position: sticky;
    z-index: 100;
    display: grid;
    top: 0;
    background-color: black;
    color: white;
    background-image: url("../img/menu.svg");
    background-repeat: no-repeat;
    background-position: right;
}

header h1, header ul, header p, header a {
    display: none;
}

header nav {
    display: flex;
    position: relative;
    flex-direction: row;
    margin: 8px 24px;
    height: 4rem;
}

header a {
    color: white;
    text-decoration: none;
}


#home {
    position: relative;
    z-index: 2;
}

video {
    background-position: center;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 90vh;
}

.home_content {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 3.125rem 1.5rem;
    text-align: center;
}

.home_content h2 {
    font-size: 2.25rem;
    line-height: 3rem;
    font-weight: bold;
}

.home_content p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding-top: 1rem;
}

.home_content a {
    position: relative;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    background-color: #1cdbbc;
    border-radius: 1.5rem;
    height: 2.75rem;
    padding: 1px 32px 0;
    margin-top: 2rem;
    color: black;
    text-decoration: none;
}

.home_content a:hover {
    background-color: #8bf5e3;
}

@media (min-width: 768px) {
    .home_content h2 {
        font-size: 4rem;
        line-height: 4.875rem;
    }
}

#info {
    display: grid;
    column-gap: 32px;
    row-gap: 20px;
    padding-top: 84px;
}

.image_cover {
    position: relative;
    background-image: url("../img/Panda.jpg");
    aspect-ratio: 565 / 337;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
}

.introduction {
    padding: 1.5rem 1.5rem 5rem;
    width: 20.438rem;
}

h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 700;
}

.introduction p {
    font-size: 1.125rem;
    padding-top: 1.5rem;
    line-height: 1.625rem;
}

@media (max-width: 319px) {
    .introduction {
        padding: 0;
    }

    .introduction h2 {
        padding-top: 1.875rem;
    }
}

@media (min-width: 768px) {
    .image_cover {
        height: 100%;
        max-width: 50vw;
    }

    .introduction {
        padding-top: 3.125rem;
        padding-right: 0.625rem;
    }
}


.image_cover_1 {
    background-image: url("../img/Panda.jpg");
    aspect-ratio: 565 / 337;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
}

.projet__cours {
    padding: 1.5rem 1.5rem 80px 1.5rem;
}

.projet__cours h2 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 3rem;
    padding-top: 1.875rem;
}

.projet__cours p {
    padding-top: 1.5rem;
}

.projet__cours {
    line-height: 1.625rem;
    font-size: 1.125rem;
}

@media screen and (max-width: 320px) {
    #projet_cours {
        padding: 0;
    }
}

@media (min-width: 768px) {
    #projet_cours, #info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        height: 100vh;
    }

    .image_cover_1 {
        order: 2;
        height: 100%;
        max-width: 50vw;
    }

    .projet__cours {
        order: 1;
        padding-top: 3.125rem;
        padding-right: 0.625rem;
    }

    .projet__cours h2, .introduction h2 {
        font-size: 3rem;
        line-height: 3.5rem;
    }
}