body {
    font-family: Inter, sans-serif;

    /*padding-left: 24px;
    padding-right: 24px;*/
}

abbr {
    text-decoration: none;
}

#menu {
    display: grid;
    top: 0;
    background-color: black;
    color: white;
}

#menu a {
    color: white;
    text-decoration: none;
}

#menu nav {
    max-width: 1344px;
    min-height: 64px;
    padding: 8px 24px;
}

/*
#home {
    display: flex;
    flex-direction: column;
    background-image: url("../img/assets/asset 0.webp");
    background-position: center;
    background-size: cover;
    width: 375px;
    color: white;
    text-align: center;
    padding: 50px 0;
}

.home_content {
    padding: 50px 24px 0;
}

#home h2 {
    font-size: 36px;
    line-height: 48px;
    font-weight: bold;
}

#home p {
    font-size: 20px;
    line-height: 28px;
    padding-top: 16px;
}
*/
p {
    padding-top: 24px;
}

.push {
    display: inline-block;
    margin-top: 32px;
    border-radius: 24px;
    background-color: #1cdbbc;
    padding: 16px 32px;
    color: black;
}

#info {
    display: block;
}

.image_cover {
    background-image: url("../img/web.jpg");
    background-position: center;
    background-size: cover;
    width: 375px;
    height: 223px;
}

.introduction {
    text-align: left;
    padding: 24px 24px 80px;
    width: 327px;
}

h2 {
    font-size: 32px;
    line-height: 40px;
    padding-top: 30px;
    font-weight: 700;
}

.introduction p {
    font-size: 18px;
    padding-top: 24px;
    line-height: 26px;
}

#compétences {
    /*display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);*/
    background: linear-gradient(to bottom, #212121, #000000);
    color: white;
    padding: 0 24px;
}

#titre_compétences {
    padding: 58px 0 30px;
    margin: inherit;
}

#titre_compétences h2 {
    font-size: 32px;
    font-weight: bold;
    line-height: 40px;
}

#titre_compétences p {
    font-size: 20px;
    line-height: 28px;
}

#compétences a {
    margin-top: 24px;
}


.all_skills {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 50px;
    width: 100%;
    padding-bottom: 58px;
}

.all_skills article {
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.all_skills img {
    width: auto;
    height: 80px;
}

.all_skills h4 {
    display: block;
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
}

.all_skills p {
    font-size: 18px;
    line-height: 26px;
    padding-top: 16px;

}


#projet_cours {
    display: block;
}

.image_cover_1 {
    background-image: url("../img/web-images.jpg.webp");
    background-size: cover;
    background-position: center;
    width: 375px;
    height: 223px;
}

.projet__cours {
    padding: 24px;
}

.projet__cours h2 {
    font-size: 32px;
    font-weight: bold;
    line-height: 48px;
    padding-top: 30px;
}

.projet__cours p {
    padding-top: 24px;
}

.projet__cours {
    line-height: 26px;
    font-size: 18px;
}

#projets {
    padding: 0 24px;
    background-color: #f7f5f5;
}

.titre h2 {
    padding: 50px 0 24px;
    font-size: 32px;
    line-height: 40px;
    font-weight: bold;
}

.titre p {
    padding-bottom: 50px;
}

.projet_ecole article {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.04) 2px 4px 24px;
}

.projet_ecole {
    padding-bottom: 50px;
    display: grid;
    row-gap: 50px;
}

.projet_ecole img {
    width: 327px;
}

.projet_ecole div {
    padding: 25px;
}

.projet_ecole h4 {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
}

.projet_ecole p {
    padding-top: 16px;
    cursor: pointer;
    line-height: 24px;
}

.more {
    display: flex;
    padding-top: 14px;
    color: rgb(10, 131, 138);
    text-decoration: none;
}

#projets article {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#projets .push {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    cursor: pointer;
    margin-bottom: 50px;
    margin-top: inherit;
}

#parcours {
    display: grid;
    padding: 0 24px;
    background-color: #063636;
}

.left img {
    width: auto;
    height: 210px;
}

.left {
    padding: 50px 0;
    color: white;
    text-align: center;
}

.left h2 {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    padding-bottom: 24px;
}

.left p {
    font-size: 18px;
    line-height: 26px;
}

.top_right {
    padding: 40px 24px;
    background-color: #8bf5e3;
}

.top_right h2, .bottom_right h2 {
    font-size: 28px;
    line-height: 38px;
    font-weight: bold;
}

.top_right p, .bottom_right p {
    padding-top: 12px;
    line-height: 24px;
}

.right {
    background-color: white;
    margin-bottom: 80px;
}

.bottom_right {
    padding: 40px 24px;
    background-color: rgba(139, 245, 227, 0.5);
}

.explore {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 44px;
    margin-top: 24px;
    padding: 0 32px;
    border-radius: 24px;
    border: 1px solid black;
    background: none;
}

.arrow {
    position: absolute;
    top: 3px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 96px;
    height: 83px;
    background-image: url("../img/assets/asset 19.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

#contact {
    position: relative;
    padding: 93px 24px 50px;
    background-color: black;
    color: white;
}

.intro_contact {
    text-align: center;
}

#contact h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 48px;
}

.intro_contact p {
    font-size: 20px;
    padding: 18px 0 60px;
    line-height: 28px;
}

#commentaire {
    width: 327px;
}

.avertissement {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 25px;
    text-align: justify;
}

#first_name, #last_name, #e-Mail, #job, #topic {
    display: block;
    margin-bottom: 25px;
}

label {
    display: block;
    letter-spacing: 1px;
    padding-bottom: 8px;
    font-size: 13px;
}

input, select {
    display: block;
    box-sizing: border-box;
    padding: 14px;
    background: none;
    width: 100%;
    border: 1px solid white;
}

#accord, #spam {
    display: flex;
}

#accepter, #pub {
    display: block;
    height: 48px;
    width: 22px;
    margin: -18px 7px 0 0;
}

button {
    display: flex;
    background-color: #1cdbbc;
    border: none;
    height: 44px;
    width: 327px;
    padding: 0 32px;
    border-radius: 24px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin: 24px 0 2px;
}

#link {
    /*display: grid;
    column-gap: 32px;*/
    background-color: black;
    color: white;
    padding: 0 24px 40px;
}

.aside_logo {
    display: flex;
    flex-flow: row;
    padding: 50px 0;
    border-top: 1px solid rgb(28, 219, 188);
}

/*.aside_logo .logo{
    position: relative;
    display: block;
    left: -2px;
    min-width: 93px;
    width: 124px;
    height: 36px;
    background-image: url("../img/assets/asset 23.png");
    background-size: 100%;
}
.aside_logo .in{
    position: relative;
    display: block;
    width: 36px;
    height: 36px;
    background-image: url("../img/assets/asset 21.svg");
    background-size: 100%;
    filter: invert(81%) sepia(69%) saturate(220%) hue-rotate(98deg) brightness(87%) contrast(92%);
}*/
.top_navigation a, .internet_link a {
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 0 0 12px;
}

.hepl_logo img {
    width: 275px;
    cursor: pointer;
    background-size: contain;
}


footer {
    background-color: #063636;
    padding: 19px 24px 21px;
    display: flex;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 30px 12px 0;
    font-size: 18px;
    line-height: 20px;
}