.arrow {
    position: absolute;
    top: 3px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 96px;
    height: 83px;
    background-image: url("../../img/Flèche.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

form {
    max-width: 640px;
    margin: 0 auto;
}

.contact {
    display: grid;
    position: relative;
    padding: 93px 1.5rem 50px;
    background-color: black;
    color: white;
}

.intro_contact {
    text-align: center;
}

.intro_contact h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 48px;
}

.intro_contact p {
    font-size: 1.25rem;
    padding: 1.125rem 0 60px;
    line-height: 28px;
}

#comment {
    width: 327px;
    margin-bottom: 25px;
}

.warning {
    font-size: 12px;
    line-height: 1.125rem;
    margin-bottom: 25px;
    text-align: justify;
}

.first_name, .last_name, .e-mail, .job, .topic {
    display: block;
    margin-bottom: 25px;
}

label {
    display: block;
    letter-spacing: 1px;
    padding-bottom: 8px;
    font-size: 0.813rem;
}

input, select, #comment {
    font-size: 1rem;
    color: #808080;
    display: block;
    box-sizing: border-box;
    padding: 0.875rem;
    background: none;
    width: 100%;
    border: 1px solid white;
}

input, #comment {
    color: white;
}

option[value="default"] {
    color: #808080;
}

input:focus, select:focus, #comment:focus {
    border-color: #1cdbbc;
    outline: 0;
}

#business, #about {
    appearance: none;
}

.job, .topic {
    position: relative;
}

.job::after, .topic::after {
    position: absolute;
    content: "";
    top: 22px;
    right: 3px;
    bottom: 0;
    width: 50px;
    pointer-events: none;
    background-image: url("../../img/Petite_flèche.svg");
    background-position: calc(100% - 10px);
    background-repeat: no-repeat;
    border-left: 1px solid #fff;
}

.job::after:focus {
    border-left-color: #1cdbbc;
}

.accord, .spam {
    display: flex;
}

#accept, #authorize {
    display: block;
    height: 48px;
    width: 22px;
    margin: -1.125rem 7px 0 0;
}

button {
    display: flex;
    background-color: #1cdbbc;
    border: none;
    height: 44px;
    width: 327px;
    padding: 0 2rem;
    border-radius: 1.5rem;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    margin: 1.5rem 0 2px;
}

button:hover {
    background-color: #8bf5e3;
}

@media (min-width: 768px) {
    .arrow {
        width: 138px;
        height: 119px;
    }

    .send {
        display: grid;
        justify-items: center;
    }

    button {
        width: max-content;
    }

    .accord label, .spam label {
        letter-spacing: 2px;
    }
}

@media (min-width: 1440px) {
    .contact {
        padding: 117px 0 121px 0;
    }

    form {
        width: 400px;
    }

    .intro_contact h2 {
        font-size: 64px;
    }
}