#link {
    background-color: black;
    color: white;
    padding: 0 1.5rem 40px;
}

.aside_logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 0;
    border-top: 1px solid rgb(28, 219, 188);
}
.aside_logo span{
    flex: 1;
}
.logo img{
    width: 70px;
    height: auto;
}
.in img{
    width: 36px;
    height: auto;
}
.all_links li:first-child {
    margin: 20px 0 12px 0;
    font-weight: bold;
}

.top_navigation a, .internet_link a, .social a, .ressources a {
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
    margin: 0 0 12px;
}

.internet_link li:first-child {
    margin-top: 20px;
}

.hepl_logo {
    display: grid;
    flex-direction: column;
    padding-bottom: 40px;
}

.hepl_logo img {
    width: 275px;
    height: auto;
    cursor: pointer;
    background-size: contain;
    margin-bottom: 40px;
    margin-top: 40px;
}

.hepl_logo p {
    margin-bottom: 12px;
    font-size: 20px;
}

footer {
    background-color: #063636;
    padding: 19px 1.5rem 21px;
    display: flex;
}

footer li {
    padding: 0 30px 12px 0;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 1.875rem 12px 0;
    font-size: 1.125rem;
    line-height: 1.25rem;
}

@media (min-width: 1440px) {
    .aside_logo {
        padding: 80px 0 60px;
    }

    .aside_logo span {
        display: flex;
    }

    .logo, .in {
        flex: 1;
    }

    .in {
        justify-content: right;
    }

    #link {
        display: grid;
    }

    .all_links {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .internet_link li:first-child {
        margin-top: 0;
    }

    #link a {
        font-size: 1rem;
    }
}