#parcours {
    display: grid;
    padding: 0 1.5rem;
    background-color: #063636;
}

@media screen and (max-width: 320px) {
    #parcours {
        padding: 0;
    }
}

.parcours__left img {
    width: auto;
    height: 210px;
    margin-bottom: 24px;
}

.parcours__left {
    padding: 50px 0;
    color: white;
    text-align: center;
}

.parcours__left h2 {
    font-weight: bold;
    font-size: 2rem;
    line-height: 40px;
    padding-bottom: 1.5rem;
}

.parcours__left p {
    font-size: 1.125rem;
    line-height: 26px;
}


.parcours__top_right {
    padding: 40px 1.5rem;
    background-color: #8bf5e3;
}

.parcours__top_right h2, .parcours__bottom_right h2 {
    font-size: 28px;
    line-height: 38px;
    font-weight: bold;
}

.parcours__top_right p, .parcours__bottom_right p {
    padding-top: 12px;
    line-height: 1.5rem;
}

@media (min-width: 768px) {
    .parcours__left h2 {
        font-size: 3rem;
        line-height: 56px;
    }

    .parcours__right h2 {
        font-size: 2.25rem;
        line-height: 48px;
    }
}

.parcours__right {
    background-color: white;
    margin-bottom: 80px;
}

.parcours__bottom_right {
    padding: 40px 1.5rem;
    background-color: rgba(139, 245, 227, 0.5);
}

@media (min-width: 768px) {
    .parcours__left {
        padding: 119px 42px 119px 0;
    }

    .parcours__top_right, .parcours__bottom_right {
        padding: 80px 0 104px 24px;
    }

    #parcours {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .parcours__right {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    #parcours {
        padding: 0 32px;
    }
}

@media (min-width: 1440px) {
    .parcours__left h2, .parcours__left p {
        padding: 0 97px 0 83px;
    }

    .parcours__left p {
        padding-top: 20px;
    }

    .parcours__top_right, .parcours__bottom_right {
        padding: 80px 80px 0 76px;
    }

    .explore {
        margin-bottom: 80px;
    }
}

.explore {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 44px;
    margin-top: 1.5rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    border: 1px solid black;
    background: none;
    text-decoration: none;
    color: black;
}

.explore:hover {
    background-color: white;
}