.course {
    display: grid;
    padding: 0 1.5rem;
    background-color: #063636;
}

@media screen and (max-width: 320px) {
    .course {
        padding: 0;
    }
}

.course__left img {
    width: auto;
    height: 310px;
    margin-bottom: 1.5rem;
}

.course__left {
    padding: 3.125rem 0;
    color: white;
    text-align: center;
}

.course__left h2 {
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.5rem;
    padding-bottom: 1.5rem;
}

.course__left p {
    font-size: 1.125rem;
    line-height: 1.625rem;
}

.course__top_right {
    padding: 2.5rem 1.5rem;
    background-color: #8bf5e3;
}

.course__top_right h2, .course__bottom_right h2 {
    font-size: 1.75rem;
    line-height: 2.375rem;
    font-weight: bold;
}

.course__top_right p, .course__bottom_right p {
    padding-top: 0.75rem;
    line-height: 1.5rem;
}


.course__right {
    margin-bottom: 5rem;
    background-color: white;
}

.course__bottom_right {
    padding: 2.5rem 1.5rem;
    background-color: rgba(139, 245, 227, 0.5);
}

.explore {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 2.75rem;
    margin-top: 1.5rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    border: 1px solid black;
    background: none;
    text-decoration: none;
    color: black;
}

.explore:hover {
    background-color: white;
}

@media (min-width: 768px) {
    .course {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0;
    }

    .course__right {
        display: grid;
        margin-bottom: 0;
        grid-template-rows: 1fr 1fr;
    }

    .course__top_right {
        padding: 5rem 0 6.5rem 1.25rem;
    }

    .course__top_right, .course__bottom_right {
        padding-left: 3.5rem;
    }

    .explore {
        width: max-content;
        text-align: center;
    }

    .course__left h2 {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .course__right h2 {
        font-size: 2.25rem;
        line-height: 3rem;
    }
}

@media (min-width: 1440px) {
    .course {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .course__right {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    .course__top_right, .course__bottom_right {
        padding: 5rem 3.75rem 6.5rem 5rem;
    }

    .course__left p {
        padding: 0 5rem;
    }

    .explore {
        width: max-content;
        text-align: center;
    }
}