#projets {
    padding: 0 1.5rem;
    background-color: #f7f5f5;
}

.titre h2 {
    display: block;
    font-size: 2rem;
    line-height: 40px;
    font-weight: bold;
}

.titre {
    padding: 50px 0 24px;
    display: flex;
    flex-flow: column;
    grid-area: 1 / 1 / 2 / 3;
}

.description {
    display: flex;
    flex-flow: column;
    grid-area: 2 / 1 / 3 / 3;
    padding-bottom: 50px;
}


.projet_ecole {
    padding-bottom: 50px;
    display: grid;
    row-gap: 50px;
}

.projet_ecole img {
    cursor: pointer;
    width: 100%;
    height: auto;
    transition: transform 0.25s ease;
}

.projet_ecole img:hover {
    transform: scale(1.1);
}

.projet_ecole div {
    padding: 25px;
}

.projet_ecole h4 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
}

.projet_ecole p {
    padding-top: 1rem;
    cursor: pointer;
    line-height: 1.5rem;
}

#projets article {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.04) 2px 4px 1.5rem;
}

#projets article:hover {
    color: white;
    background-color: black;
    transition: background-color 0.7s ease;
}

.more {
    display: flex;
    padding-top: 0.875rem;
    color: rgb(10, 131, 138);
    text-decoration: none;
}

/*
.projet_ecole a:hover{
    color: #1cdbbc;

}
*/

.more:hover {
    color: white;
}

#projets .push {
    /*flex-wrap: nowrap;
    cursor: pointer;
    margin-top: inherit;
    padding: 0 32px;
    box-sizing: border-box;*/
    /*position: relative;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    background-color: #1cdbbc;
    border-radius: 1.5rem;
    height: 44px;
    padding: 1px 32px 0;
    margin-top: 2rem;
    color: black;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 44px;
    border-radius: 1.5rem;
    background-color: rgb(28, 219, 188);
    margin-bottom: 50px;
    padding: 0 32px;
}

@media screen and (max-width: 320px) {
    #projets {
        padding: 0;
    }

}

@media (min-width: 768px) {
    .projet_ecole {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1.25rem;
        padding-bottom: 0;
    }

    .projet_titre {
        display: flex;
    }

    .titre, .description {
        flex: 1;
    }

    .titre {
        padding: 100px 35px 60px 0;
    }

    .titre h2 {
        font-size: 48px;
        line-height: 56px;
    }

    .description {
        padding: 100px 0 60px;
    }

    .description p {
        font-size: 20px;
        line-height: 28px;
    }

    #projets .push {
        grid-area: 3 / 1 / 4 / 13;
        flex-direction: row;
        padding-top: 60px;
        padding-bottom: 100px;
    }
}

@media (min-width: 1024px) {
    #projets {
        padding: 0 32px;
    }

}

@media (min-width: 1440px) {
    #projets {
        padding: 0 80px;
    }

    .titre {
        padding: 100px 160px 88px 0;
    }

    .projet_ecole article {
        width: 400px;
    }
}