.projects {
    padding: 0 1.5rem;
    background-color: #f7f5f5;
}

.title h2 {
    font-size: 2rem;
    line-height: 40px;
    font-weight: bold;
}

.title {
    padding: 50px 0 24px;
}

.description {
    padding-bottom: 50px;
}

.project_school {
    padding-bottom: 50px;
    display: grid;
    row-gap: 50px;
}

.project_school img {
    cursor: pointer;
    width: 100%;
    height: auto;
    transition: transform 0.25s ease;
}

.project_school img:hover {
    transform: scale(1.1);
}

.project_school div {
    padding: 25px;
}

.project_school h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
}

.project_school p {
    padding-top: 1rem;
    cursor: pointer;
    line-height: 1.5rem;
}

.projects article {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.04) 2px 4px 1.5rem;
    overflow: hidden;
}

.projects article:hover {
    color: white;
    background-color: black;
    transition: background-color 0.7s ease;
}

.more {
    display: flex;
    padding-top: 0.875rem;
    color: rgb(10, 131, 138);
    text-decoration: none;
}

.more:hover {
    color: white;
}

.projects .push {
    display: flex;
    padding: 0 0 50px 0;
    margin: auto;
}

@media screen and (max-width: 320px) {
    .projects {
        padding: 0;
    }

}

@media (min-width: 768px) {
    .project_school {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1.25rem;
        padding-bottom: 0;
    }

    .projects_title {
        display: flex;
    }

    .title, .description {
        flex: 1;
    }

    .title {
        padding: 100px 35px 60px 0;
    }

    .title h2 {
        font-size: 48px;
        line-height: 56px;
    }

    .description {
        padding: 100px 0 60px;
    }

    .description p {
        font-size: 20px;
        line-height: 28px;
    }

    .projects .push {
        padding-top: 60px;
        padding-bottom: 100px;
        display: block;
        margin: auto;
        text-align: center;
    }
}

@media (min-width: 1024px) {
    .projects {
        padding: 0 32px;
    }
}

@media (min-width: 1440px) {
    .projects {
        padding: 0 80px;
    }

    .title {
        padding: 100px 160px 88px 0;
    }

    .project_school article {
        width: 400px;
    }
}