html {
    width: 100%;
}

body {
    font-family: Inter, sans-serif;
}

abbr {
    text-decoration: none;
}

header {
    position: fixed;
    width: 100%;
    z-index: 100;
    display: grid;
    top: 0;
    background-color: black;
    color: white;
}

.logo_name {
    flex: 1;
    cursor: pointer;
}

.logo_name a img {
    padding-top: 10px;
    width: 30px;
    height: auto;
}

header ul, header p, .top_header, .top_page .push {
    display: none;
}

.header_navigation {
    display: flex;
    position: relative;
    flex-direction: row;
    margin: 8px 24px;
    top: -2px;
    right: -10px;
}

.burger_menu {
    flex: 1;
    display: flex;
    justify-content: right;
}

.burger_menu img {
    cursor: pointer;
    height: 48px;
}

.header_navigation a {
    color: white;
    text-decoration: none;
}

.top_page .push {
    position: absolute;
    right: 32px;
}

@media (min-width: 956px) {
    .header_navigation ul {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        margin-top: 16px;
        position: absolute;
        left: 130px;
        top: 25px;
    }

    .logo_name a img {
        width: 70px;
        height: auto;
    }

    .burger_menu {
        display: none;
    }

    header ul, header p, .top_header, .top_page .push {
        display: grid;
    }
    .header_navigation ul li a:hover {
        color: #1cdbbc;
    }
}

/*.cookies {
    padding: 40px;
    background-color: #063636;
    border: 1px solid #1cdbbc;
    position: fixed;
    width: 100%;
    bottom: 0;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.cookies button {
    background-color: #1cdbbc;
    border-radius: 0;
    color: black;

}*/

.home {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    position: relative;
    width: 100%;
    object-fit: cover;
    height: 100vh;
}

.home_content {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 3.125rem 1.5rem;
    text-align: center;
    max-width: 620px;
}

.home_content h2 {
    font-size: 2.25rem;
    line-height: 3rem;
    font-weight: bold;
}

.home_content p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding-top: 1rem;
}

.home_content a {
    position: relative;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    background-color: #1cdbbc;
    border-radius: 1.5rem;
    height: 2.75rem;
    padding: 1px 32px 0;
    margin-top: 2rem;
    color: black;
    text-decoration: none;
}

.home_content a:hover {
    background-color: #8bf5e3;
}

@media (min-width: 768px) {
    .home_content h2 {
        font-size: 4rem;
        line-height: 4.875rem;
    }
}

.image_cover_1 {
    background-image: url("../../img/web.jpg");
    aspect-ratio: 565 / 337;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
}

.project__course {
    padding: 1.5rem 1.5rem 80px 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project__course h2 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 3rem;
    padding-top: 1.875rem;
}

.project__course p {
    padding-top: 1.5rem;
}

.project__course {
    line-height: 1.625rem;
    font-size: 1.125rem;
}

@media screen and (max-width: 320px) {
    .project_course {
        padding: 0;
    }
}

@media (min-width: 768px) {
    .project_course, .info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .image_cover_1 {
        height: 654px;
        max-width: 50vw;
        order: 2;
    }

    .project__course {
        order: 1;
        padding-top: 3.125rem;
        padding-right: 0.625rem;
    }

    .project__course h2, .introduction h2 {
        font-size: 3rem;
        line-height: 3.5rem;
    }
}

@media (min-width: 1440px) {
    .project__course {
        padding-left: 80px;
    }
}